<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilites.ListenerClass" />
	</listeners>
	<test thread-count="5" name="TestLogin">
		<classes>
			<class name="loginTests.MainLoginTest" />
			<class name="loginTests.CheckAssert" />		<!-- How we can add whole as test -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
